<h1>Addition</h1>

<form action="/wizard_add" method="get">
  <label for="first_number">Add this:</label>
  <input type="text" id="first_number" name="first_number">
  
  <label for="second_num">to this:</label>
  <input type="text" id="second_num" name="second_num">
  
  <button type="submit">Add!</button>
</form>
