<h1>Multiplication</h1>

<form action="/wizard_multiply" method="get">
  <label for="first_number">Multiply this:</label>
  <input type="text" id="first_number" name="first_number">
  
  <label for="second_num">by this:</label>
  <input type="text" id="second_num" name="second_num">
  
  <button type="submit">Multiply!</button>
</form>
